<configuration>
	<contextName>standard-code</contextName>
	<property name="appName" value="jinfu-customer"/>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[${appName}] %date %level [%thread] [traceId:%X{traceId:-unknown}] [spanId:%X{spanId:-0}] [depth:%X{depth:-0}] [user: %X{userName:-unknown}] %logger{55} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/backend/${appName}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/${appName}/${appName}-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[${appName}] %date %level [%thread] [traceId:%X{traceId:-unknown}] [spanId:%X{spanId:-0}] [depth:%X{depth:-0}] [user: %X{userName:-unknown}] %logger{55} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="gatherAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- in the absence of the class attribute, it is assumed that the desired
			discriminator type is ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
		<file>${catalina.base}/logs/jinfu-gather/jinfu-gather.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/jinfu-gather/jinfu-gather-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

    <appender name="gaAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- in the absence of the class attribute, it is assumed that the desired
            discriminator type is ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
		<file>${catalina.base}/logs/GA/GA.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/GA/GA-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
    </appender>

	<appender name="requestAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- in the absence of the class attribute, it is assumed that the desired
            discriminator type is ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
		<file>${catalina.base}/logs/request/request.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/request/request-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="appLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- in the absence of the class attribute, it is assumed that the desired
            discriminator type is ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
		<file>${catalina.base}/logs/appLog/appLog.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/appLog/appLog-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="jms" class="com.xinyunlian.jinfu.logback.appender.GAJmsAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="jmsLogger" additivity="false" level="INFO">
		<appender-ref ref="jms"/>
	</logger>

	<logger name="com.xinyunlian.jinfu.common.filter.GaFilter" additivity="false" level="INFO">
		<appender-ref ref="jms"/>
        <appender-ref ref="gaAppender"/>
		<appender-ref ref="requestAppender"/>
	</logger>

	<logger name="com.xinyunlian.jinfu.gather.controller" additivity="false" level="INFO">
		<appender-ref ref="jms"/>
		<appender-ref ref="gatherAppender"/>
	</logger>

	<logger name="com.xinyunlian.jinfu.gather.controller.LogGatherController" additivity="false" level="INFO">
		<appender-ref ref="appLogAppender"/>
	</logger>

	<logger name="com.xinyunlian.jinfu" level="debug" />

	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFileAppender" />
	</root>
</configuration>
