<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=gb2312">
    <meta name=Generator content="Microsoft Word 14 (filtered)">
    <style>
        <!--
        /* Font Definitions */
        @font-face
        {font-family:宋体;
            panose-1:2 1 6 0 3 1 1 1 1 1;}
        @font-face
        {font-family:"Cambria Math";
            panose-1:2 4 5 3 5 4 6 3 2 4;}
        @font-face
        {font-family:Calibri;
            panose-1:2 15 5 2 2 2 4 3 2 4;}
        @font-face
        {font-family:"\@宋体";
            panose-1:2 1 6 0 3 1 1 1 1 1;}
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin:0cm;
            margin-bottom:.0001pt;
            text-align:justify;
            text-justify:inter-ideograph;
            font-size:10.5pt;
            font-family:"Calibri","sans-serif";}
        p.MsoHeader, li.MsoHeader, div.MsoHeader
        {mso-style-link:"页眉 Char";
            margin:0cm;
            margin-bottom:.0001pt;
            text-align:center;
            layout-grid-mode:char;
            border:none;
            padding:0cm;
            font-size:9.0pt;
            font-family:"Calibri","sans-serif";}
        p.MsoFooter, li.MsoFooter, div.MsoFooter
        {mso-style-link:"页脚 Char";
            margin:0cm;
            margin-bottom:.0001pt;
            layout-grid-mode:char;
            font-size:9.0pt;
            font-family:"Calibri","sans-serif";}
        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
        {margin:0cm;
            margin-bottom:.0001pt;
            text-align:justify;
            text-justify:inter-ideograph;
            text-indent:21.0pt;
            font-size:10.5pt;
            font-family:"Calibri","sans-serif";}
        span.Char
        {mso-style-name:"页眉 Char";
            mso-style-link:页眉;}
        span.Char0
        {mso-style-name:"页脚 Char";
            mso-style-link:页脚;}
        .MsoChpDefault
        {font-family:"Calibri","sans-serif";}
        /* Page Definitions */
        @page WordSection1
        {size:595.3pt 841.9pt;
            margin:72.0pt 90.0pt 72.0pt 90.0pt;
            layout-grid:15.6pt;}
        div.WordSection1
        {page:WordSection1;}
        /* List Definitions */
        ol
        {margin-bottom:0cm;}
        ul
        {margin-bottom:0cm;}
        -->
    </style>

</head>

<body lang=ZH-CN style='text-justify-trim:punctuation'>

<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=center style='text-align:center'><b><span
            style='font-family:宋体'>全国烟草订购网站（含中烟新商盟卷烟订货商务平台）授权协议</span></b></p>

    <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>&nbsp;</span></p>

    <p class=MsoNormal><span style='font-family:宋体'>全国烟草订购网站（含中烟新商盟卷烟订货商务平台）授权协议（以下简称本协议）由网新新云联金融信息服务</span><span
            lang=EN-US>(</span><span style='font-family:宋体'>浙江</span><span lang=EN-US>)</span><span
            style='font-family:宋体'>有限公司公司（以下简称本公司</span><span lang=EN-US>/</span><span
            style='font-family:宋体'>我们）和您签订。如您同意授权将视为授权我们验证并获取您的烟草订购网站（含中烟新商盟卷烟订货商务平台）信息，并将视为已阅读并理解本协议的全部内容。</span></p>

    <p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span
            lang=EN-US>一、</span><span style='font-family:宋体'>授权条款</span></p>

    <p class=MsoListParagraph style='margin-left:36.0pt;text-indent:-36.0pt'><span
            lang=EN-US>（一）<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
            style='font-family:宋体'>您确认，在您授权我们并验证获取您的烟草订购网站（含中烟新商盟卷烟订货商务平台）信息前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意遵循本协议之所有约定。</span></p>

    <p class=MsoListParagraph style='margin-left:36.0pt;text-indent:-36.0pt'><span
            lang=EN-US>（二）<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
            style='font-family:宋体'>您同意，在您授权我们验证并获取您的烟草订购网站（含中烟新商盟卷烟订货商务平台）信息后，我们有权登录您的烟草订购网站（含中烟新商盟卷烟订货商务平台）查看并读取您的账户及交易信息。</span></p>

    <p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span
            lang=EN-US>二、</span><span style='font-family:宋体'>保密条款</span></p>

    <p class=MsoListParagraph style='margin-left:36.0pt;text-indent:-36.0pt'><span
            lang=EN-US>（一）<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
            style='font-family:宋体'>本公司重视对用户隐私的保护。因收集您的信息是出于遵守国家法律法规的对顶以及向您提供服务及提升服务质量的目的，我们对您的账户信息承担保密义务，不会向任何第三方泄露您的任何信息，我们会在下列情况下才将您的信息与第三方共享：</span></p>

    <p class=MsoListParagraph style='margin-left:54.0pt;text-indent:-18.0pt'><span
            lang=EN-US>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:宋体'>获得您的同意或授权。</span></p>

    <p class=MsoListParagraph style='margin-left:54.0pt;text-indent:-18.0pt'><span
            lang=EN-US>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:宋体'>某些情况下，只有共享您的信息，才能提供您需要的服务和（或）产品，或处理您与他人的交易纠纷或争议。</span></p>

    <p class=MsoListParagraph style='margin-left:54.0pt;text-indent:-18.0pt'><span
            lang=EN-US>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:宋体'>某些服务和（或）产品由我们的合作伙伴或由我们与合作伙伴共同提供，我们会与其共享提供服务和（或）产品所需要的信息。</span></p>

    <p class=MsoListParagraph style='margin-left:54.0pt;text-indent:-18.0pt'><span
            lang=EN-US>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:宋体'>根据法律法规的规定及有关机关的要求。</span></p>

    <p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span
            lang=EN-US>三、</span><span style='font-family:宋体'>用户义务及免责声明</span></p>

    <p class=MsoListParagraph style='margin-left:36.0pt;text-indent:-36.0pt'><span
            lang=EN-US>（一）<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
            style='font-family:宋体'>您保证，您所授权的烟草订购网站（含中烟新商盟卷烟订货商务平台）账户为您本人账户，不可为他人的账户或虚假账户。</span></p>

    <p class=MsoListParagraph style='margin-left:36.0pt;text-indent:-36.0pt'><span
            lang=EN-US>（二）<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
            style='font-family:宋体'>如您所授权的烟草订购网站（含中烟新商盟卷烟订货商务平台）账户为他人或虚假账户，我们有权暂停或终止与您的全部或部分服务协议，并将由您承担由此行为所产生的的全部法律责任，我们将不对此承担法律责任。</span></p>

</div>

</body>

</html>
