<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<meta name=Generator content="Microsoft Word 12 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:宋体;
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"\@宋体";
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:彩虹小标宋;}
@font-face
	{font-family:彩虹粗仿宋;}
@font-face
	{font-family:"\@彩虹小标宋";}
@font-face
	{font-family:"\@彩虹粗仿宋";}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"Header Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	layout-grid-mode:char;
	border:none;
	padding:0cm;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Footer Char";
	margin:0cm;
	margin-bottom:.0001pt;
	layout-grid-mode:char;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";}
span.HeaderChar
	{mso-style-name:"Header Char";
	mso-style-link:Header;
	font-family:"Times New Roman","serif";}
span.FooterChar
	{mso-style-name:"Footer Char";
	mso-style-link:Footer;
	font-family:"Times New Roman","serif";}
 /* Page Definitions */
 @page WordSection1
	{size:595.3pt 841.9pt;
	margin:65.2pt 65.2pt 65.2pt 65.2pt;
	layout-grid:15.6pt;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=ZH-CN style='text-justify-trim:punctuation'>

<div class=WordSection1 style='layout-grid:15.6pt'>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:14.0pt;font-family:彩虹小标宋;color:black'>个人征信客户授权书</span></p>

<p class=MsoNormal style='text-indent:24.0pt;line-height:22.0pt;layout-grid-mode:
char'><b><span style='font-size:12.0pt;font-family:彩虹粗仿宋;color:black'>尊敬的客户：为了维护您的权益，请在签署本授权书前，仔细阅读本授权书各条款（特别是黑体字条款），关注您在授权书中的权利、义务。</span></b></p>

<p class=MsoNormal style='margin-top:7.8pt;line-height:22.0pt;layout-grid-mode:
char'><span style='font-size:12.0pt;font-family:彩虹粗仿宋;color:black'>宁波云联小额贷款有限公司：</span></p>

<p class=MsoNormal style='text-indent:24.0pt;line-height:22.0pt;layout-grid-mode:
char'><span style='font-size:12.0pt;font-family:彩虹粗仿宋;color:black'>一、本人同意并不可撤销地授权：<b>贵公司按照国家相关规定采集并向金融信用信息基础数据库、</b></span><b><span
style='font-size:12.0pt;font-family:彩虹粗仿宋'>人民银行要求报送的其他信用信息数据库及其他第三方合法的信用数据查询机构（包括但不限于北京宜信致诚信用管理有限公司、百融（北京）金融信息服务股份有限公司）<span
style='color:black'>提供本人个人信息和包括信贷信息在内的</span>信用信息<i>（包含本人因未及时履行合同义务产生的不良信息）</i>。</span></b></p>

<p class=MsoNormal style='text-indent:24.0pt;line-height:22.0pt;layout-grid-mode:
char'><span style='font-size:12.0pt;font-family:彩虹粗仿宋;color:black'>二、本人同意并不可撤销地授权：<b>贵公司可以根据国家有关规定，在办理涉及本人的业务时，有权向</b></span><b><span
style='font-size:12.0pt;font-family:彩虹粗仿宋'>金融信用信息基础数据库、人民银行要求报送的其他信用信息数据库及其他第三方合法的信用数据查询机构（包括但不限于北京宜信致诚信用管理有限公司、百融（北京）金融信息服务股份有限公司）查询、打印、保存本人的信用信息，并用于下述用途：</span></b></p>

<p class=MsoNormal style='text-indent:24.0pt;line-height:22.0pt;layout-grid-mode:
char'><span style='font-size:12.0pt;font-family:彩虹粗仿宋;color:black;layout-grid-mode:
line'>（一）审核本人贷款；</span></p>

<p class=MsoNormal style='text-indent:24.0pt;line-height:22.0pt;layout-grid-mode:
char'><span style='font-size:12.0pt;font-family:彩虹粗仿宋;color:black;layout-grid-mode:
line'>（二）审核本人作为提出贷款申请或特约商户申请的个人、组织或机构的负责人、法定代表人、出资人、担保人、企业经营者、实际控制人； </span></p>

<p class=MsoNormal style='text-indent:24.0pt;line-height:22.0pt;layout-grid-mode:
char'><span style='font-size:12.0pt;font-family:彩虹粗仿宋;color:black;layout-grid-mode:
line'>（三）对已向本人或本人担任法人、出资人、担保人、企业经营者、实际控制人的个人、机构或组织发放的贷款进行贷后风险管理；</span></p>

<p class=MsoNormal style='text-indent:24.0pt;line-height:22.0pt;layout-grid-mode:
char'><span style='font-size:12.0pt;font-family:彩虹粗仿宋;color:black;layout-grid-mode:
line'>（四）向本人提供的其他贵公司合法经营范围内的业务。</span></p>

<p class=MsoNormal style='text-indent:24.0pt;line-height:22.0pt;layout-grid-mode:
char'><span style='font-size:12.0pt;font-family:彩虹粗仿宋'>三、如果贵公司超出本授权书范围进行数据报送和查询使用，则贵公司应承担与此有关的法律责任。本授权书有效期至本人业务结清之日止。</span></p>

<p class=MsoNormal style='text-indent:24.0pt;line-height:22.0pt;layout-grid-mode:
char'><b><span style='font-size:12.0pt;font-family:彩虹粗仿宋'>四、若本人在贵公司业务未获批准办理，本授权书及本人信用报告等资料无须退回本人。</span></b></p>

<p class=MsoNormal style='text-indent:24.0pt;line-height:22.0pt;layout-grid-mode:
char'><b><span style='font-size:12.0pt;font-family:彩虹粗仿宋'>五、本授权书内容与相关业务的合同条款不一致的，无论相关合同在本授权书之前或之后签署，均应以本授权书的内容为准</span></b><span
style='font-size:16.0pt;font-family:彩虹粗仿宋'>，</span><b><span style='font-size:
12.0pt;font-family:彩虹粗仿宋'>但相关合同条款明确约定是针对本授权书内容所做修订的除外。</span></b></p>

<p class=MsoNormal style='text-indent:24.0pt;line-height:22.0pt;layout-grid-mode:
char'><b><span style='font-size:12.0pt;font-family:彩虹粗仿宋'>本人声明：本人已仔细阅读上述所有条款，并已特别注意字体加黑的内容。贵公司已应本人要求对相关条款予以明确说明。本人对所有条款的含义及相应的法律后果已全部通晓并充分理解，本人自愿作出上述授权、承诺和声明。</span></b></p>

<p class=MsoNormal style='text-indent:24.0pt;line-height:22.0pt;layout-grid-mode:
char'><span style='font-size:12.0pt;font-family:彩虹粗仿宋;color:black'>本人姓名：<span
lang=EN-US>${signName}</span></span></p>

<p class=MsoNormal style='text-indent:24.0pt;line-height:22.0pt;layout-grid-mode:
char'><span style='font-size:12.0pt;font-family:彩虹粗仿宋;color:black'>证件名称及号码：身份证 <span
lang=EN-US>${idCardNo}</span></span></p>

<p class=MsoNormal style='text-indent:24.0pt;line-height:22.0pt;layout-grid-mode:
char'><span style='font-size:12.0pt;font-family:彩虹粗仿宋;color:black'>签署日期：<span
lang=EN-US> ${signDate}</span></span></p>

</div>

</body>

</html>
